.footer {
  background-color: #232f3e;
  @include padding();
  padding-top: 8rem;

  .vertical-line {
    border-left: 3px white;
  }

  &__button {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      padding: 0.5rem 1rem;
      position: relative;
      background-color: transparent;
      z-index: 1;
      overflow: hidden;
      color: grey;
      transition: all 0.4s;
    }

    &::after {
      content: "";
      height: 1rem;
      width: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-grad-start;
      border-radius: 50%;
      opacity: 0;
      z-index: -1;
      transition: all 0.6s;
    }
  }

  &__button:hover,
  &__button:active {
    color: white;
    transform: translateY(-0.3rem) scale(1.1);
    box-shadow: 0 2px 2px 2px black;

    &::after {
      transform: scale(20);
      background-position: center;
      opacity: 1;
    }
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__text {
    margin: 2rem 1rem;
  }

  #color-toggle--dark:checked ~ & {
    background-color: darken(#232f3e, 10%);
    color: rgb(200, 200, 200);
  }
}
