//color
$font-mont: "Montserrat Alternates", Montserrat, sans-serif;
$color-pink: rgb(255, 0, 212);
$color-grad-start: rgb(128, 0, 160);
$color-grad-end: rgb(255, 0, 76);

//grid
$grid-width: 100%;
$gutter-vertical: 3rem;
$gutter-horizontal: 2rem;
$gutter-small-horizontal: 0.5rem;
