@keyframes covid {
    0% {
        transform: scale(1);
        background-color: rgba(255, 0, 85, 0.5);
    }

    100% {
        transform: scale(1.1);
        background-color:red;
    }
}

@keyframes zoom-out {
    0% {
      opacity: 0;
      transform: scale(0.1) rotate(5deg);
    }
  
    70% {
      transform: scale(1.05) rotate(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(1.2) rotate(-5deg);
    }
  
    70% {
      transform: scale(0.96) rotate(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes sweep-in-top {
    0% {
      transform: translate(-50%,-200%);
    }

    100% {
      transform: translate(-50%, -50%);
    }
  }

  @keyframes sweep-in-bottom {
    0% {
      transform: translate(-50%, 200%);
    }

    100% {
      transform: translate(-50%, -50%);
    }
  }